.elements__grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    grid-gap: 20px 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1500px) {
    .elements__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 624px) {
    .elements__grid {
        grid-template-columns: 1fr;
    }
}