.profile__profession {
    margin: 16px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .profile__profession {
        font-size: 14px;
        line-height: 1.214;
    }
}

@media screen and (max-width: 624px) {
    .profile__profession {
        text-align: center;
        margin-top: 14px;
    }
}
