.popup__close-button {
    position: absolute;
    top: -40.7px;
    right: -40.7px;
    transition: opacity .2s linear;
    cursor: pointer;
    transform: rotate(45deg);
    padding: 0;
    border: none;
    background: none;
    box-sizing: border-box;
    line-height: 0;
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 551.4px) {
    .popup__close-button {
        top: -30px;
        right: -30px;
    }
}
