@import url(./__heading/card-full-size__heading.css);
@import url(./__image/card-full-size__image.css);

.card-full-size {
    position: relative;
    line-height: 0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
}