.profile__add-image {
    max-width: 22px;
    max-height: 22px;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 624px) {
    .profile__add-image {
        max-width: 16px;
        max-height: 16px;
    }
}