.element__delete-button {
    background: none;
    box-sizing: border-box;
    border: none;
    padding: 0;
    transition: opacity .2s linear;
    cursor: pointer;
    line-height: 0;
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 2;
}

.element__delete-button:hover {
    opacity: .6;
}