.element__like-button {
    margin: 0 0 3px;
    background: none;
    box-sizing: border-box;
    border: none;
    padding: 0;
    transition: opacity .2s linear;
    cursor: pointer;
    flex-shrink: 0;
    line-height: 0;
    height: 18.13px;
    width: 20.76px;
    background-image: url(../../../images/Element__like.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.element__like-button:hover {
    opacity: .6;
}